<div class="jumbotron">
  <h1>jukeBox</h1>
  <p>Add your favorite tracks to the shared playlist</p>
  <% if !user_signed_in? %>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  <% end %>
</div>

<%= render @embed_info['html'] %>

<ul id="all-songs">
  <%= render @songs %>
</ul>

<% if can? :create, @song %>
  <%= link_to "Add a song", new_song_path, id: "new-song-link", class: "btn-lg btn-success", remote: true %>
<% end %>
